<% content_for :title,  "UnApproved Products | Traffle" %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 no-pad-xs">
      <div class="row login_signup_heading" style="padding:3em;margin:0px;">
        <div class="col-md-12">
          <center><h3 class="heading_text">Unapproved Products</h3></center>
        </div>
      </div>
        <div class="jumbotron" style="padding-top:2em;padding-bottom:1em;background-color:rgba(248, 114, 23, 0.8);border-radius:0 0 1em 1em;">
        <div class="row">
          <div class="col-md-12 login_signup_panel">
            <center>
              <br>
              <div class="table-responsive">
                <table class="table table-hover table-responsive">
                  <thead>
                    <tr style="font-size:1.5em;">
                      <th>ID</th>
                      <th>Title</th>
                      <th>Total Tickets</th>
                      <th>Created at</th>
                      <th>Show</th>
                      <!-- <th>Block</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <% @all_unapproved_products.each do |product| %>
                      <tr style="font-size:1.5em;">
                        <td><%= product.id %></td>
                        <td><%= product.title %></td>
                        <td><%= product.total_tickets %></td>
                        <td><%= product.created_at %></td>
                        <td><%= link_to("Show", admin_home_path(product.id), class:"btn btn-sm show_button", target:"_blank") %></td>
                        <!-- <td><button class="btn btn-sm block_decline_button">Block</button></td> -->
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
              <br>
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
