<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); }
</script>
<script>
   new WOW().init();
</script>
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>
<script type="text/javascript">
  $(window).load(function(){
    $('.flexslider').flexslider({
    animation: "pagination",
    start: function(slider){
      $('body').removeClass('loading');
    }
    });
  });
</script>
<script type="text/javascript">
  $(document).ready(function() {

    var defaults = {
      containerID: 'toTop', // fading element id
      containerHoverID: 'toTopHover', // fading element hover id
      scrollSpeed: 1200,
      easingType: 'linear'
    };

    $().UItoTop({ easingType: 'easeOutQuart' });

  });
</script>

<script>
// Set the date we're counting down to
var countDownDate = new Date("Sep 5, 2018 15:37:25").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

    // Get todays date and time
    var now = new Date().getTime();

    // Find the distance between now an the count down date
    var distance = countDownDate - now;

    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Output the result in an element with id="demo"
    document.getElementById("id_days").innerHTML = days ;

		document.getElementById("id_hours").innerHTML =hours ;

		document.getElementById("id_minutes").innerHTML = minutes ;

		document.getElementById("id_secs").innerHTML = seconds;
    // If the count down is over, write some text
    if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "EXPIRED";
    }
}, 1000);
</script>
<!--gallery-->
<div class="gallery">
  <div class="container">
    <div class="title-info wow fadeInUp animated" data-wow-delay=".5s">
      <h3 class="title">Popular<span> Products</span></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit curabitur </p>
    </div>
    <div class="gallery-info">
      <div class="row responsive">
        <div class="col-md-4 col-xs-12 gallery-grid wow flipInY animated" data-wow-delay=".5s">
          <a href="products.html"><%= image_tag("g1.jpg", class:"img-responsive") %></a>
          <div class="gallery-text simpleCart_shelfItem">
            <h5><a class="name" href="single.html">Baby Girls' Dress </a></h5>
						<br>
            <div class="row">
							<div class="col-md-6 col-xs-12">
								<label style="float:left;">Total Tickets</label>
							</div>
							<div class="col-md-6 col-xs-12">
									<label style="float:right;">25000</label>
							</div>
							<div class="col-md-12 col-xs-12">
								<%= progress_bar 0.45, alternative: 'info', active: true, style: "height:10px; margin-bottom:0px; margin-top:0.5em;"  %>
							</div>
							<div class="col-md-2 col-xs-12">
								<label style="float:left;">10</label>
							</div>
							<div class="col-md-7 col-xs-12">
							</div>
							<div class="col-md-3 col-xs-12">
								<label style="float:right;">24900</label>
							</div>
							<div class="col-md-6 col-xs-12">
								<label style="float:left;">Tickets Sold</label>
							</div>
							<div class="col-md-6 col-xs-12">
								<label style="float:right;">Tickets Remaining</label>
							</div>
							<div class="col-md-12 col-xs-12">
								<label style="float:center;">Estimated to close on or before</label>
							</div>

							<div class="col-md-12 col-xs-12">
								<br>
								<div class="row">
									<div class="col-md-2">
										<label>DAYS</label>
									</div>
									<div class="col-md-1">
									</div>
									<div class="col-md-2">
										<label>HOURS</label>
									</div>
									<div class="col-md-1">
									</div>
									<div class="col-md-2">
										<label>MINS</label>
									</div>
									<div class="col-md-1">
									</div>
									<div class="col-md-2">
										<label>SECS</label>
									</div>
									<div class="col-md-1">
									</div>
								</div>
							</div>
							<div class="col-md-12 col-xs-12">
								<div class="row">
									<div class="col-md-2">
										<div class="square" >
                      <div id="id_days" style="margin-top:10px;">
											</div>
										</div>
									</div>
									<div class="col-md-1">
										<label style="margin-top:10px;">: </label>
									</div>
									<div class="col-md-2">
										<div class="square">
											<div id="id_hours" style="margin-top:10px;">
											</div>
										</div>
									</div>
									<div class="col-md-1">
										<label style="margin-top:10px;">: </label>
									</div>
									<div class="col-md-2">
										<div class="square">
											<div id="id_minutes" style="margin-top:10px;">
											</div>
										</div>
									</div>
									<div class="col-md-1">
										<label style="margin-top:10px;">: </label>
									</div>
									<div class="col-md-2">
										<div class="square">
											<div id="id_secs" style="margin-top:10px;">
											</div>
										</div>
									</div>
									<div class="col-md-1">
									</div>
								</div>
							</div>
							<div class="col-md-12 col-xs-12">
								 <br>
									 <div class="row" style="border: solid 2px #0000FF; padding:0.7em;height:6em;">
										 <div class="col-md-2 col-xs-12" style="height:4em;">
											 <label style="font-size:20px; margin-top:0.7em;" > ₦</label>
										 </div>
										 <div class="col-md-7 col-xs-12" style="height:4em;padding:0px;">
											 <form>
													 <div class="form-group">
														 <input class="form-control  price_field" placeholder="Enter Amount" id="inputdefault" type="text">
													</div>
												</form>
										 </div>
										 <div class="col-md-3 col-xs-12" style="height:4em;padding:0px; margin-top:0.4em;">
											 <button style="float-left;width:100%;height:80%;" class="btn  cart_button">
                         <span class="glyphicon glyphicon-shopping-cart"></span>
												 Buy</button>
										 </div>
									 </div>
							</div>
							<div class="col-md-12 col-xs-12">
								<div class="row">
									<div class="col-md-5">
									</div>
									<div class="col-md-7">
										<label style="float:right;">1 ticket = N100.00</label>
									</div>
								</div>
							</div>
						</div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12 gallery-grid gallery-grid1 wow flipInY animated" data-wow-delay=".7s">
          <a href="products.html"><%= image_tag("g1.jpg", class:"img-responsive") %></a>
          <div class="gallery-text simpleCart_shelfItem">
            <h5><a class="name" href="single.html">Pokemon Onesies</a></h5>
            <p><span class="item_price">79$</span></p>
            <h4 class="sizes">Sizes: <a href="#"> s</a> - <a href="#">m</a> - <a href="#">l</a> - <a href="#">xl</a> </h4>
            <ul>
              <li><a href="#"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></li>
              <li><a class="item_add" href="#"><span class="glyphicon glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a></li>
              <li><a href="#"><span class="glyphicon glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-xs-12 gallery-grid gallery-grid2 wow flipInY animated" data-wow-delay=".9s">
          <a href="products.html"><%= image_tag("g1.jpg", class:"img-responsive") %></a>
          <div class="gallery-text simpleCart_shelfItem">
            <h5><a class="name" href="single.html">Doctor Play Set</a></h5>
            <p><span class="item_price">30$</span></p>
            <h4 class="sizes">Sizes: <a href="#"> s</a> - <a href="#">m</a> - <a href="#">l</a> - <a href="#">xl</a> </h4>
            <ul>
              <li><a href="#"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></li>
              <li><a class="item_add" href="#"><span class="glyphicon glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a></li>
              <li><a href="#"><span class="glyphicon glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row responsive">
        <div class="col-md-4 col-xs-12 gallery-grid wow flipInY animated" data-wow-delay=".5s">
          <a href="products.html"><%= image_tag("g1.jpg", class:"img-responsive") %></a>
          <div class="gallery-text simpleCart_shelfItem">
            <h5><a class="name" href="single.html">Full Sleeves Romper</a></h5>
            <p><span class="item_price">60$</span></p>
            <h4 class="sizes">Sizes: <a href="#"> s</a> - <a href="#">m</a> - <a href="#">l</a> - <a href="#">xl</a> </h4>
            <ul>
              <li><a href="#"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></li>
              <li><a class="item_add" href="#"><span class="glyphicon glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a></li>
              <li><a href="#"><span class="glyphicon glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-xs-12 gallery-grid gallery-grid1 wow flipInY animated" data-wow-delay=".7s">
          <a href="products.html"><%= image_tag("g1.jpg", class:"img-responsive") %></a>
          <div class="gallery-text simpleCart_shelfItem">
            <h5><a class="name" href="single.html">Party Wear Frock</a></h5>
            <p><span class="item_price">80$</span></p>
            <h4 class="sizes">Sizes: <a href="#"> s</a> - <a href="#">m</a> - <a href="#">l</a> - <a href="#">xl</a> </h4>
            <ul>
              <li><a href="#"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></li>
              <li><a class="item_add" href="#"><span class="glyphicon glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a></li>
              <li><a href="#"><span class="glyphicon glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-xs-12 gallery-grid gallery-grid2 wow flipInY animated" data-wow-delay=".9s">
          <a href="products.html"><%= image_tag("g1.jpg", class:"img-responsive") %></a>
          <div class="gallery-text simpleCart_shelfItem">
            <h5><a class="name" href="single.html">Bear Diaper Bag</a></h5>
            <p><span class="item_price">110$</span></p>
            <h4 class="sizes">Sizes: <a href="#"> s</a> - <a href="#">m</a> - <a href="#">l</a> - <a href="#">xl</a> </h4>
            <ul>
              <li><a href="#"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></li>
              <li><a class="item_add" href="#"><span class="glyphicon glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a></li>
              <li><a href="#"><span class="glyphicon glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row responsive">
        <div class="col-md-4 gallery-grid wow flipInY animated" data-wow-delay=".5s">
          <a href="products.html"><%= image_tag("g1.jpg", class:"img-responsive") %></a>
          <div class="gallery-text simpleCart_shelfItem">
            <h5><a class="name" href="single.html">Full Sleeves Romper</a></h5>
            <p><span class="item_price">60$</span></p>
            <h4 class="sizes">Sizes: <a href="#"> s</a> - <a href="#">m</a> - <a href="#">l</a> - <a href="#">xl</a> </h4>
            <ul>
              <li><a href="#"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></li>
              <li><a class="item_add" href="#"><span class="glyphicon glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a></li>
              <li><a href="#"><span class="glyphicon glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 gallery-grid gallery-grid1 wow flipInY animated" data-wow-delay=".7s">
          <a href="products.html"><%= image_tag("g1.jpg", class:"img-responsive") %></a>
          <div class="gallery-text simpleCart_shelfItem">
            <h5><a class="name" href="single.html">Party Wear Frock</a></h5>
            <p><span class="item_price">80$</span></p>
            <h4 class="sizes">Sizes: <a href="#"> s</a> - <a href="#">m</a> - <a href="#">l</a> - <a href="#">xl</a> </h4>
            <ul>
              <li><a href="#"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></li>
              <li><a class="item_add" href="#"><span class="glyphicon glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a></li>
              <li><a href="#"><span class="glyphicon glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 gallery-grid gallery-grid2 wow flipInY animated" data-wow-delay=".9s">
          <a href="products.html"><%= image_tag("g1.jpg", class:"img-responsive") %></a>
          <div class="gallery-text simpleCart_shelfItem">
            <h5><a class="name" href="single.html">Bear Diaper Bag</a></h5>
            <p><span class="item_price">110$</span></p>
            <h4 class="sizes">Sizes: <a href="#"> s</a> - <a href="#">m</a> - <a href="#">l</a> - <a href="#">xl</a> </h4>
            <ul>
              <li><a href="#"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></li>
              <li><a class="item_add" href="#"><span class="glyphicon glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a></li>
              <li><a href="#"><span class="glyphicon glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row responsive">
        <div class="col-md-4 col-xs-12 gallery-grid wow flipInY animated" data-wow-delay=".5s">
          <a href="products.html"><%= image_tag("g1.jpg", class:"img-responsive") %></a>
          <div class="gallery-text simpleCart_shelfItem">
            <h5><a class="name" href="single.html">Full Sleeves Romper</a></h5>
            <p><span class="item_price">60$</span></p>
            <h4 class="sizes">Sizes: <a href="#"> s</a> - <a href="#">m</a> - <a href="#">l</a> - <a href="#">xl</a> </h4>
            <ul>
              <li><a href="#"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></li>
              <li><a class="item_add" href="#"><span class="glyphicon glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a></li>
              <li><a href="#"><span class="glyphicon glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-xs-12 gallery-grid gallery-grid1 wow flipInY animated" data-wow-delay=".7s">
          <a href="products.html"><%= image_tag("g1.jpg", class:"img-responsive") %></a>
          <div class="gallery-text simpleCart_shelfItem">
            <h5><a class="name" href="single.html">Party Wear Frock</a></h5>
            <p><span class="item_price">80$</span></p>
            <h4 class="sizes">Sizes: <a href="#"> s</a> - <a href="#">m</a> - <a href="#">l</a> - <a href="#">xl</a> </h4>
            <ul>
              <li><a href="#"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></li>
              <li><a class="item_add" href="#"><span class="glyphicon glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a></li>
              <li><a href="#"><span class="glyphicon glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-xs-12 gallery-grid gallery-grid2 wow flipInY animated" data-wow-delay=".9s">
          <a href="products.html"><%= image_tag("g1.jpg", class:"img-responsive") %></a>
          <div class="gallery-text simpleCart_shelfItem">
            <h5><a class="name" href="single.html">Bear Diaper Bag</a></h5>
            <p><span class="item_price">110$</span></p>
            <h4 class="sizes">Sizes: <a href="#"> s</a> - <a href="#">m</a> - <a href="#">l</a> - <a href="#">xl</a> </h4>
            <ul>
              <li><a href="#"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></li>
              <li><a class="item_add" href="#"><span class="glyphicon glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a></li>
              <li><a href="#"><span class="glyphicon glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row responsive">
        <div class="col-md-4 col-xs-12 gallery-grid wow flipInY animated" data-wow-delay=".5s">
          <a href="products.html"><%= image_tag("g1.jpg", class:"img-responsive") %></a>
          <div class="gallery-text simpleCart_shelfItem">
            <h5><a class="name" href="single.html">Full Sleeves Romper</a></h5>
            <p><span class="item_price">60$</span></p>
            <h4 class="sizes">Sizes: <a href="#"> s</a> - <a href="#">m</a> - <a href="#">l</a> - <a href="#">xl</a> </h4>
            <ul>
              <li><a href="#"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></li>
              <li><a class="item_add" href="#"><span class="glyphicon glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a></li>
              <li><a href="#"><span class="glyphicon glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-xs-12 gallery-grid gallery-grid1 wow flipInY animated" data-wow-delay=".7s">
          <a href="products.html"><%= image_tag("g1.jpg", class:"img-responsive") %></a>
          <div class="gallery-text simpleCart_shelfItem">
            <h5><a class="name" href="single.html">Party Wear Frock</a></h5>
            <p><span class="item_price">80$</span></p>
            <h4 class="sizes">Sizes: <a href="#"> s</a> - <a href="#">m</a> - <a href="#">l</a> - <a href="#">xl</a> </h4>
            <ul>
              <li><a href="#"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></li>
              <li><a class="item_add" href="#"><span class="glyphicon glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a></li>
              <li><a href="#"><span class="glyphicon glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-xs-12 gallery-grid gallery-grid2 wow flipInY animated" data-wow-delay=".9s">
          <a href="products.html"><%= image_tag("g1.jpg", class:"img-responsive") %></a>
          <div class="gallery-text simpleCart_shelfItem">
            <h5><a class="name" href="single.html">Bear Diaper Bag</a></h5>
            <p><span class="item_price">110$</span></p>
            <h4 class="sizes">Sizes: <a href="#"> s</a> - <a href="#">m</a> - <a href="#">l</a> - <a href="#">xl</a> </h4>
            <ul>
              <li><a href="#"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></li>
              <li><a class="item_add" href="#"><span class="glyphicon glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a></li>
              <li><a href="#"><span class="glyphicon glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--//gallery-->
