<% content_for :title, "Edit Password | " %>
<div class="container" style="padding-top: 20px;">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 no-pad-xs">
      <div class="row login_signup_heading" style="padding:0px;margin:0px;">
        <div class="col-md-12">
          <center><h3 class="heading_text">Add Your New Password</h3></center>
        </div>
      </div>
      <div class="jumbotron" style="padding-top:1em;padding-bottom:1em; background-color: rgba(48,110,255,0.4); border-radius:0 0 1em 1em;">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10 login_signup_panel">
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
              <%= devise_error_messages! %>
              <%= f.hidden_field :reset_password_token %>

              <div class="form-group" style="padding:0px;margin:0px;">
                <%= f.label :password, "New Password" , class: "login_signup_label" %><br />
                <%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder: 'New Password', class: 'form-control my_text_field', style:"color: #1E8449;", required: true%>
              </div>

              <div class="form-group" style="padding:0px;margin:0px 0px 15px 0px;">
                <%= f.label :password_confirmation, "Confirm New Password", class: "login_signup_label" %><br />
                <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm New Password', class: 'form-control my_text_field', style:"color: #1E8449;", required: true%>
              </div>

              <div class="form-group">
                <%= f.submit "Change My Password",class: 'btn btn-block btn-primary active_button', style: "font-weight:bold;font-family: 'Merriweather', serif;color:#FFFFFF;" %>
              </div>
            <% end %>

            <%= render "users/shared/links" %>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
